@font-face {
    font-family: 'MomoStorm';
    src: url('MomoStormFont.ttf') format('truetype');
}
@font-face {
    font-family: 'ShangWeiShouShu';
    src: url('HYShangWeiShouShuW.ttf') format('truetype');
}