.underlineCss span {
    background: linear-gradient(to right, #7e2f2b,#146420) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s;
}
.underlineCss span:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}